* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

input {
    height: 35px;
    margin: 10px 20px;
    padding: 7px;
    font-size: 30px;
    border-radius: 4px;
}

button {
    height: 45px;
    width: 150px;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    background-color: blue;
    color: #ffffff;
    border: none;
}

button:hover {
    opacity: 0.8;
}

h3,
ul {
    font-size: 25px;
}

p {
    font-size: 35px;
}